.album {
    min-height: 50rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .album .card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
  }